<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quran"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk 
        android:minSdkVersion="8" 
        android:targetSdkVersion="11" />

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name_ar" >
        <activity
            android:label="@string/app_name_ar"
            android:name=".MenuActivity"
			android:theme="@style/AppTheme">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
            android:label="@string/app_name_ar"
            android:name=".PageActivity"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
		<activity
            android:label="@string/app_name_ar"
            android:name=".SearchResultActivity"
			android:theme="@style/AppTheme">
        </activity>
		<activity
            android:label="@string/page_name_editayah_ar"
            android:name=".AyahEditorActivity"
			android:theme="@style/AppTheme">
        </activity>
		
		<activity
            android:label="@string/page_name_preferences_ar"
            android:name=".PreferenceWithHeaders"
			android:theme="@style/AppTheme">
        </activity>
		<activity
            android:label="@string/page_name_editnumericvalues_ar"
            android:name=".EditNumericValuesActivity"
			android:theme="@style/AppTheme">
        </activity>
		<activity
            android:label="@string/page_name_shownumericvalues_ar"
            android:name=".ShowNumericValuesActivity"
			android:theme="@style/AppTheme">
        </activity>
		
    </application>

</manifest>
